* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 83, 211);
  height: 100vh;
  display: flex;
}
h1 {
  color: rgb(85, 83, 211);
}
.container {
  background: #fff;
  width: 100%;
  padding-inline: 8px;
  max-width: 600px;
  margin: auto;
  border: 1px solid;
  margin-top: 6rem;
  display: flex;
  height: 400px;
  justify-content: space-between;
  border-radius: 8px;
  /* flex-wrap: wrap; */
}
.input-container {
  margin-bottom: 1rem;
}
label {
  display: block;
  font-weight: bold;
}
input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border-radius: 8px;
}
span {
  color: rgb(85, 83, 211);
}
textarea {
  width: 100%;
  max-width: 300px;
  height: 90px;
  border-radius: 8px;
}
button {
  color: #fff;
  background-color: rgb(85, 83, 211);
  padding-block: 10px;
  padding-inline: 10px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  body {
    padding-inline: 20px;
  }
  .container {
    flex-direction: column;
    min-height: 650px;
    padding-block: 10px;
    align-items: center;
  }
}
